@keyframes slide-in {
  from {
    transform: translateX(-20vw);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation-name: slide-in;
  animation-timeline: view(block 55% 0.1%);
  animation-duration: 1ms;
}
